apiVersion: v1

kind: Service
metadata:
  name: fleet-event-stream
spec:
  selector:
    app: fleet-event-stream
  ports:
  - name: http
    port: 80
    targetPort: 8080
  - name: metrics
    port: 9090
    targetPort: 9090